#tablebuah {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

#tablebuah td,
#tablebuah th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablebuah tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablebuah tr:hover {
    background-color: #ddd;
}

#tablebuah th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

input[type="text"],input[type="number"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
